<!DOCTYPE html>
<html>
<head>
	<title>Swav | Admin</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="../css/style.css">
</head>
<body>
	<div class="wrapper d-flex align-items-stretch" style="margin-bottom: -25px; ">
			<nav id="sidebar">
				<div class="" style="margin-left: 267px; ">
					<button type="button" id="sidebarCollapse" class=" btn " style="background-color: #279727; height: 35px; width: 35px;">
	          <i class="fa fa-bars"></i>
	          <span class="sr-only">Toggle Menu</span>
	        </button>
        </div>
				<div class="p-4" style="margin-top: -50px; ">
		  		<h1><a href="index.html" class="logo">SWAV </a><small>1.0</small></h1>
		  		<hr>
		  		<h4 class="text-center "><a href="#" class="active" style="color: black;">Tablo bod fay</a></h4>
	        <ul class="list-unstyled components mb-5">
	        	<li>
	            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><span class="fa fa-sticky-note mr-3"></span> Fay XSS</a>
	            <ul class="collapse list-unstyled" id="homeSubmenu">
                	<li class="nav-main-item">
                                    <a class="nav-main-link" href="info/info_xss.html" >
                                        <span class="nav-main-link-name">info</span>
                                    </a>
                                </li>
                                <li class="nav-main-item">
                                    <a class="nav-main-link" href="paj/xss/nivo1.html" >
                                        <span class="nav-main-link-name">XSS Reflected</span>
                                    </a>
                                </li>
                                <li class="nav-main-item">
                                    <a class="nav-main-link" href="paj/xss/nivo2.html">
                                        <span class="nav-main-link-name">XSS Stored</span>
                                    </a>
                                </li>
                                <li class="nav-main-item">
                                    <a class="nav-main-link" href="paj/xss/nivo3.html">
                                        <span class="nav-main-link-name">XSS DOM BASED</span>
                                    </a>
                                </li>
                                <li class="nav-main-item">
                                    <a class="nav-main-link" href="paj/xss/nivo4.html">
                                        <span class="nav-main-link-name">XSS Stealing-Cookie</span>
                                    </a>
                                </li>
	            </ul>
	          </li>
	          <li>
              <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><span class="fa fa-sticky-note mr-3"></span> Fay CSRF</a>
              <ul class="collapse list-unstyled" id="pageSubmenu">
                <li class="nav-main-item">
                                    <a class="nav-main-link" href="#">
                                        <span class="nav-main-link-name">CSRF Reflected</span>
                                    </a>
                                </li>
                                <li class="nav-main-item">
                                    <a class="nav-main-link" href="#">
                                        <span class="nav-main-link-name">CSRF Stored</span>
                                    </a>
                                </li>
              </ul>
	          </li>

	          <li>
              <a href="#pageSubmenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><span class="fa fa-sticky-note mr-3"></span> Fay Upload</a>
              <ul class="collapse list-unstyled" id="pageSubmenu1">
               <li class="nav-main-item">
                                    <a class="nav-main-link" href="info/info_upload.html">
                                        <span class="nav-main-link-name">info</span>
                                    </a>
                                </li>
                                <li class="nav-main-item">
                                    <a class="nav-main-link" href="paj/upload/nivo1.html">
                                        <span class="nav-main-link-name">doubles extensions</span>
                                    </a>
                                </li>
                                <li class="nav-main-item">
                                    <a class="nav-main-link" href="paj/upload/nivo2.html">
                                        <span class="nav-main-link-name">Mime verification</span>
                                    </a>
                                </li>
                                <li class="nav-main-item">
                                    <a class="nav-main-link" href="paj/upload/nivo3.html">
                                        <span class="nav-main-link-name">Whitelist</span>
                                    </a>
                                </li>
                                <li class="nav-main-item">
                                    <a class="nav-main-link" href="paj/upload/nivo4.html">
                                        <span class="nav-main-link-name">nullbyte</span>
                                    </a>
                                </li>
              </ul>
	          </li>

	          <li>
              <a href="#pageSubmenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><span class="fa fa-sticky-note mr-3"></span> Fay SQLI</a>
              <ul class="collapse list-unstyled" id="pageSubmenu2">
               <li class="nav-main-item">
                                    <a class="nav-main-link" href="#">
                                        <span class="nav-main-link-name">Blind SQL</span>
                                    </a>
                                </li>
                                <li class="nav-main-item">
                                    <a class="nav-main-link" href="#">
                                        <span class="nav-main-link-name">Union SQL</span>
                                    </a>
                                </li>
                                <li class="nav-main-item">
                                    <a class="nav-main-link" href="#">
                                        <span class="nav-main-link-name">LOREM</span>
                                    </a>
                                </li>
                                <li class="nav-main-item">
                                    <a class="nav-main-link" href="#">
                                        <span class="nav-main-link-name">LOREM</span>
                                    </a>
                                </li>
              </ul>
	          </li>

	          <li>
              <a href="#pageSubmenu3" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><span class="fa fa-sticky-note mr-3"></span> Fay Include</a>
              <ul class="collapse list-unstyled" id="pageSubmenu3">
               <li class="nav-main-item">
                                    <a class="nav-main-link" href="#">
                                        <span class="nav-main-link-name">Local File Inclusion(LFI)</span>
                                    </a>
                                </li>
                                <li class="nav-main-item">
                                    <a class="nav-main-link" href="#">
                                        <span class="nav-main-link-name">Remote File Inclusion(RFI)</span>
                                    </a>
                                </li>
              </ul>
	          </li>

	          <li>
              <a href="#pageSubmenu4" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><span class="fa fa-sticky-note mr-3"></span> Fay Injection</a>
              <ul class="collapse list-unstyled" id="pageSubmenu4">
             	<li class="nav-main-item">
                                    <a class="nav-main-link" href="#">
                                        <span class="nav-main-link-name">Command Injection</span>
                                    </a>
                                </li>
                                <li class="nav-main-item">
                                    <a class="nav-main-link" href="#">
                                        <span class="nav-main-link-name">Code Injection</span>
                                    </a>
                                </li>
              </ul>
	          </li>

	          <li>
              <a href="#pageSubmenu5" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><span class="fa fa-sticky-note mr-3"></span> Lorem</a>
              <ul class="collapse list-unstyled" id="pageSubmenur">
             	<li class="nav-main-item">
                                    <a class="nav-main-link" href="#">
                                        <span class="nav-main-link-name">Lorem</span>
                                    </a>
                                </li>
                                <li class="nav-main-item">
                                    <a class="nav-main-link" href="#">
                                        <span class="nav-main-link-name">Lorem</span>
                                    </a>
                                </li>
              </ul>
	          </li>

	        </ul>

	        <div class="link_social text-center" style="margin-top: -25px;">
	        	
	        	<a href="#"><span class="fa fa-facebook"></span></a>
	        	<a href="#"><span class="fa fa-twitter"></span></a>
	        	<a href="#"><span class="fa fa-github"></span></a>
	        </div>

	        <div class="footer" style="margin-bottom: 0px; ">
	        	<p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						  SWAV tout dwa rezève &copy;<script>document.write(new Date().getFullYear());</script> Pwodwi  <i class="icon-heart" aria-hidden="true"></i> pa <a href="https://doctype_cordes.com" target="_blank">DOCTYPE Coders </a>
						  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
	        </div>

	      </div>
    	</nav>
    	<div id="content" class="p-4 p-md-5 pt-5">

        	<div class="dropdown" style="margin-top: -54px;float: right;  margin-right: -30px; height: 40px;" >
  				<button class="btn  dropdown-toggle" type="button" data-toggle="dropdown"><span><img src="../assets/media/admin.png" width="30px;" height="30px;"></span></button>
  				<div class="dropdown-menu text-center" style="margin-right: 110px;">
   					<div class="p-2">
                                    <h4 class="dropdown-header" style="color: #279727;">Opsyon Itilizatè</h4>
                                    <hr>
                                    <a class="dropdown-item d-flex align-items-center justify-content-between" href="aktyalite/tablofay.html">
                                        <span>Aktyalite fay</span>
                                    </a>
                                    <a class="dropdown-item d-flex align-items-center justify-content-between" href="#">
                                        <span>Lorem</span>
                                    </a>
                                    <a class="dropdown-item d-flex align-items-center justify-content-between" href="#">
                                        <span>Konfigirasyon</span>
                                        <i class="si si-settings"></i>
                                    </a>
                                    <!-- button dekonekte user -->
                                    <a class="dropdown-item d-flex align-items-center justify-content-between">
                                        <span>Dekonekte</span>
                                        <i class="si si-logout ml-1"></i>
                                    </a>
                                </div>
  				</div>
			</div>

			<div class="container-fluid alert alert-danger" style="width: 90%; margin-top: -46px; height: 38px;padding-left: 20px;padding-top: 2px; text-align: center;  ">
				modpas la pa bon
			</div> 

			<div class="container">
				<br>
				<p style="font-size: 20px;">Bonjou itilizatè <strong>SWAV</strong></p>

                	<p style="font-size: 16px; text-align: justify;">
                		Nou kontan genyenw jodia kom nouvèl itilizatè platfom nan, ki pèmet ou testé fay web yo, konnen ke platfóm nan devlope pou edike moun oubyen devlope yo sou fay ke web la ap fè fas konyea paske sa vrèman mal pou gen kèk itilzatè malveyan kap itilize done sistèm enfómasyon yo jis pou kè kontan oswa pou vanjans oswa pou anyen jis paske yo genyon konesans avanse sou chak fay wèb yo.
                	</p>

                	<p style="font-size: 16px; text-align: justify;"> 
                		Se pou sa nou devlope platfóm sila a, se pou ka redwi nan zak malonèt ke pirat oswa djolalèlè oswa kominote anonim ka gen pou met sou pye,platfom sa fèt a bi edikatif, li la pou ede pwoteje devlopè ak itilizatè kap itilize teknoloji a. Nan okenn sans <b>DOCTYPE_CODERS</b> ak tout komite SWAV pa responsab okenn itilzasyon malvèyan ke yon moun kèlkonk kapab fè avèk zouti sa a, nan lide sa a nap mande tout itilizatè, devlopè, programè, siberyen k'ap itilize SWAV patajel e ede nou kenbe menm prensip sa yo, epi ede nou fèl plis avanse toujou paske fay web yo kritik anpil e konye a web la enpótan anpil pou nou tout e nou dwe konnen ke nan web la konye a gen plis pase yon milya itilizatè, aló konpayi sekirite, chapo blan, pirat etik , sibèdetektiv, e lot yo ede nou fè platfóm sa a avanse plis toujou nan optik pou nou ka redwi nan zak malonèt sa yo e sansibilize plis aktè toujou nan jesyon fay web yo, mèsi paskew konprann nou  :) !!!.</br>
                	</p>

                	<br>

                	<p style="font-size: 18px; text-align: right;"> 
                		<a href="manyel/manyel.txt"> <i class="fa fa-book text-right"> Manyèl Itilizatè</i></a>
                	</p>

			</div>
      	</div>
	</div>


    <script src="../js/jquery.min.js"></script>
    <script src="../js/popper.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/main.js"></script>>
</body>
</html>