<!DOCTYPE html>
<html>
<head>
	<title>Swav | Xss info</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="../../../css/style.css">
</head>
<body>
    <!-- swav body-->
	<div class="wrapper d-flex align-items-stretch" style="margin-bottom: -25px; ">
        <!-- nav left -->
			<nav id="sidebar">
				<div class="" style="margin-left: 267px; ">
					<button type="button" id="sidebarCollapse" class=" btn " style="background-color: #279727;height: 40px; width: 40px;">
	          <i class="fa fa-bars"></i>
	          <span class="sr-only">Toggle Menu</span>
	        </button>
        </div>
				<div class="p-4" style="margin-top: -50px; ">
		  		<h1><a href="index.html" class="logo">SWAV </a><small>1.0</small></h1>
		  		<hr>
		  		<h4 class="text-center"><a href="../index.html" style="color: black;">Tablo bod fay</a></h4>
	        <ul class="list-unstyled components mb-5">
	        	<li class="active">
	            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><span class="fa fa-sticky-note mr-3"></span> Fay XSS</a>
	            <ul class="collapse list-unstyled" id="homeSubmenu">
                	<li class="nav-main-item">
                                    <a class="nav-main-link" href="../info/info_xss.html" >
                                        <span class="nav-main-link-name">Info</span>
                                    </a>
                                </li>
                                <li class="nav-main-item">
                                    <a class="nav-main-link" href="#" >
                                        <span class="nav-main-link-name">XSS Reflected</span>
                                    </a>
                                </li>
                                <li class="nav-main-item">
                                    <a class="nav-main-link" href="paj/xss/nivo2.html">
                                        <span class="nav-main-link-name">XSS Stored</span>
                                    </a>
                                </li>
                                <li class="nav-main-item">
                                    <a class="nav-main-link" href="paj/xss/nivo3.html">
                                        <span class="nav-main-link-name">XSS DOM BASED</span>
                                    </a>
                                </li>
                                <li class="nav-main-item">
                                    <a class="nav-main-link" href="paj/xss/nivo4.html">
                                        <span class="nav-main-link-name">XSS Stealing-Cookie</span>
                                    </a>
                                </li>
	            </ul>
	          </li>
	          <li>
              <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><span class="fa fa-sticky-note mr-3"></span> Fay CSRF</a>
              <ul class="collapse list-unstyled" id="pageSubmenu">
                <li class="nav-main-item">
                                    <a class="nav-main-link" href="#">
                                        <span class="nav-main-link-name">CSRF Reflected</span>
                                    </a>
                                </li>
                                <li class="nav-main-item">
                                    <a class="nav-main-link" href="#">
                                        <span class="nav-main-link-name">CSRF Stored</span>
                                    </a>
                                </li>
              </ul>
	          </li>

	          <li>
              <a href="#pageSubmenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><span class="fa fa-sticky-note mr-3"></span> Fay Upload</a>
              <ul class="collapse list-unstyled" id="pageSubmenu1">
               <li class="nav-main-item">
                                    <a class="nav-main-link" href="../info/info_upload.html">
                                        <span class="nav-main-link-name">Info</span>
                                    </a>
                                </li>
                                <li class="nav-main-item">
                                    <a class="nav-main-link" href="../upload/nivo1.html">
                                        <span class="nav-main-link-name">doubles extensions</span>
                                    </a>
                                </li>
                                <li class="nav-main-item">
                                    <a class="nav-main-link" href="paj/upload/nivo2.html">
                                        <span class="nav-main-link-name">Mime verification</span>
                                    </a>
                                </li>
                                <li class="nav-main-item">
                                    <a class="nav-main-link" href="paj/upload/nivo3.html">
                                        <span class="nav-main-link-name">Whitelist</span>
                                    </a>
                                </li>
                                <li class="nav-main-item">
                                    <a class="nav-main-link" href="paj/upload/nivo4.html">
                                        <span class="nav-main-link-name">nullbyte</span>
                                    </a>
                                </li>
              </ul>
	          </li>

	          <li>
              <a href="#pageSubmenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><span class="fa fa-sticky-note mr-3"></span> Fay SQLI</a>
              <ul class="collapse list-unstyled" id="pageSubmenu2">
               <li class="nav-main-item">
                                    <a class="nav-main-link" href="#">
                                        <span class="nav-main-link-name">Blind SQL</span>
                                    </a>
                                </li>
                                <li class="nav-main-item">
                                    <a class="nav-main-link" href="#">
                                        <span class="nav-main-link-name">Union SQL</span>
                                    </a>
                                </li>
                                <li class="nav-main-item">
                                    <a class="nav-main-link" href="#">
                                        <span class="nav-main-link-name">LOREM</span>
                                    </a>
                                </li>
                                <li class="nav-main-item">
                                    <a class="nav-main-link" href="#">
                                        <span class="nav-main-link-name">LOREM</span>
                                    </a>
                                </li>
              </ul>
	          </li>

	          <li>
              <a href="#pageSubmenu3" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><span class="fa fa-sticky-note mr-3"></span> Fay Include</a>
              <ul class="collapse list-unstyled" id="pageSubmenu3">
               <li class="nav-main-item">
                                    <a class="nav-main-link" href="#">
                                        <span class="nav-main-link-name">Local File Inclusion(LFI)</span>
                                    </a>
                                </li>
                                <li class="nav-main-item">
                                    <a class="nav-main-link" href="#">
                                        <span class="nav-main-link-name">Remote File Inclusion(RFI)</span>
                                    </a>
                                </li>
              </ul>
	          </li>

	          <li>
              <a href="#pageSubmenu4" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><span class="fa fa-sticky-note mr-3"></span> Fay Injection</a>
              <ul class="collapse list-unstyled" id="pageSubmenu4">
             	<li class="nav-main-item">
                                    <a class="nav-main-link" href="#">
                                        <span class="nav-main-link-name">Command Injection</span>
                                    </a>
                                </li>
                                <li class="nav-main-item">
                                    <a class="nav-main-link" href="#">
                                        <span class="nav-main-link-name">Code Injection</span>
                                    </a>
                                </li>
              </ul>
	          </li>

	          <li>
              <a href="#pageSubmenu5" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><span class="fa fa-sticky-note mr-3"></span> Lorem</a>
              <ul class="collapse list-unstyled" id="pageSubmenur">
             	<li class="nav-main-item">
                                    <a class="nav-main-link" href="#">
                                        <span class="nav-main-link-name">Lorem</span>
                                    </a>
                                </li>
                                <li class="nav-main-item">
                                    <a class="nav-main-link" href="#">
                                        <span class="nav-main-link-name">Lorem</span>
                                    </a>
                                </li>
              </ul>
	          </li>

	        </ul>

	        <div class="link_social text-center" style="margin-top: -25px;">
	        	
	        	<a href="#"><span class="fa fa-facebook"></span></a>
	        	<a href="#"><span class="fa fa-twitter"></span></a>
	        	<a href="#"><span class="fa fa-github"></span></a>
	        </div>

	        <div class="footer" style="margin-bottom: 0px; ">
	        	<p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						  SWAV tout dwa rezève &copy;<script>document.write(new Date().getFullYear());</script> Pwodwi  <i class="icon-heart" aria-hidden="true"></i> pa <a href="https://doctype_cordes.com" target="_blank">DOCTYPE Coders </a>
						  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
	        </div>

	      </div>
    	</nav>
        <!-- nav left end-->

    	<div id="content" class="p-4 p-md-5 pt-5">

            <!-- user option -->
        	<div class="dropdown" style="margin-top: -54px;float: right;  margin-right: -30px;" >
  				<button class="btn  dropdown-toggle" type="button" data-toggle="dropdown"><span><img src="../../../assets/media/admin.png" width="30px;" height="30px;"></span></button>
  				<div class="dropdown-menu text-center" style="margin-right: 110px;">
   					<div class="p-2">
                                    <h4 class="dropdown-header" style="color: #279727;">Opsyon Itilizatè</h4>
                                    <hr>
                                    <a class="dropdown-item d-flex align-items-center justify-content-between" href="aktyalite/tablofay.html">
                                        <span>Aktyalite fay</span>
                                    </a>
                                    <a class="dropdown-item d-flex align-items-center justify-content-between" href="#">
                                        <span>Lorem</span>
                                    </a>
                                    <a class="dropdown-item d-flex align-items-center justify-content-between" href="#">
                                        <span>Konfigirasyon</span>
                                        <i class="si si-settings"></i>
                                    </a>
                                    <!-- button dekonekte user -->
                                    <a class="dropdown-item d-flex align-items-center justify-content-between">
                                        <span>Dekonekte</span>
                                        <i class="si si-logout ml-1"></i>
                                    </a>
                                </div>
  				</div>
			</div>
            <!-- user option end -->

            <!-- error alert -->
			<div class="container-fluid alert alert-danger" style="width: 90%; margin-top: -46px; height: 38px;padding-left: 20px;padding-top: 2px; text-align: center;  ">
				modpas la pa bon
			</div>
            <!-- error alert end -->

            <!-- swav content info -->
			<div class="container" >
				<br>
				<p style="font-size: 20px;">XSS<strong> Reflected</strong></p>
                <!-- pagination option -->
                <div aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item disable"><a class="page-link disable" href="#">Nivo</a></li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                    </ul>
                </div>
                <!-- pagination option end -->
                <br>
                    <div class="container" style="margin-left: 30px; margin-bottom: 30px;">
                        <p style="font-size: 15px; text-align: justify;">
                            ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat.
                        </p>
                    </div>

                    <div class="row">
                        <!-- div input col-8 -->
                            <div class="col-8">
                                    <p>Xss Reflected tes</p>
                                <form >
                                    <input class="input--style-1" type="text" placeholder="Met yon non" name="name">
                                    <input type="submit" name="" value="Soumet" class=" soumet">
                                </form>
                            </div>
                            <!-- div input col-4-->
                        <div class="col-4">
                            <br>
                            <div id="accordion">
                                <div class="card">
                                    <div class="card-header" id="headingThree">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" style="color: #279727 !important; ">
                                                View code source
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                        <div class="card-body">
                                            <p>ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                                consequat.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- swav content info end -->
      	</div>
	</div>
    <!-- swav body end-->

    


    <script src="../../../js/jquery.min.js"></script>
    <script src="../../../js/popper.js"></script>
    <script src="../../../js/bootstrap.min.js"></script>
    <script src="../../../js/main.js"></script>>
</body>
</html>